server:
  port: 8083

spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:mysql://127.0.0.1:3306/23_05_project?useUnicode=true&characterEncoding=utf8&autoReconnect=true&serverTimezone=Asia/Seoul&useOldAliasMetadataBehavior=true&zeroDateTimeNehavior=convertToNull
    username: root
    password: 
mybatis:
  type-aliases-package: com.KoreaIT.bjw._05_project.vo

custom:
  genFileDirPath: C:\workspace_bjw\sts-4.17.2.RELEASE-workspace\23_05_project\images
  siteName: 23_05_project
  siteMainUri: http://localhost:8083
  emailFrom: no-reply@localhost
  emailFromName: 23_05_project
  logging:
    dir: log
    level: debug